<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>胡元港的博客|后台首页</title>
	<link href="https://cdn.bootcss.com/highlight.js/9.5.0/styles/default.min.css" rel="stylesheet">
</head>
<body>
	<div id="container">
	</div>
	<script src='/outputs/dll.js'></script>
	<script src='/outputs/common.js'></script>
	<script src='/outputs/adminIndex.js'></script>
</body>
</html>