<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>胡元港的博客|后台首页</title>
</head>
<body>
	<div id="container">
		<div class="top">
			<div class="top-sign">HYG's Blog</div>
			<a class='to-new' href="/admin/article/new">新建文章</a>
			<ul class="top-nav">
				<li v-for='t in topNav'>
					<router-link :to="t.urls">{{t.name}}</router-link>
				</li>
			</ul>
			
		</div>
		<div class="section-wapper">
			<router-view></router-view>
		</div>
	</div>
	<script src='/outputs/dll.js'></script>
	<script src='/outputs/common.js'></script>
	<script src='/outputs/adminIndex.js'></script>
</body>
</html>