@import 'color.less';

body{
    font-size: 14px;
    color: @main-font;
    height: 100%;
}
body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    border:1px solid #aaa;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb{
    background: @main-green;
    border-radius: 2px;
}
*{
    margin: 0;
    padding:0;
    font-family: 'Monaco','Lato', arial, sans-serif;
	font-size: 16px;
}

ul{
    list-style: none;
}

a{
    cursor: pointer;
    text-decoration:none;
}

.get-border-raduis(@r:3){
    -webkit-border-radius: @r*1px;
    -moz-border-radius:@r*1px;
    -o-border-radius:@r*1px;
    border-radius: @r*1px;
}
.get-line-height(@l:1){
    line-height: @l*1px;
}
.get-font-size(@f:14){
    font-size:@f*1px;
}