html
	head
		title 胡元港的博客|开发中
		link(href='/public/css/common.css',rel='stylesheet')
		link(href='/public/css/font.css',rel='stylesheet')
		link(href='/public/css/user/index.css',rel='stylesheet')
	body
		#container
			header.header
				.cont
					img.profile-image(src='/public/images/profile.jpg')
					.profile-content
						h1 {{name}}
						h2 {{description}}
						ul.social-icon
							li(v-for='s in socialIcon')
								a(:href='s.urls')
									i(:class='s.icon')
					a.btn-contact(href='#')
						i.icon-quill
						|&nbsp;我的简历
			.section-wapper
				.row
					.left-box
						.section-inner
							h2 文章
							.article(v-for='a in articles')
								h3.article-title
									a(href='#') {{a.title}}
								p.article-des {{a.description}}
								ul.article-oper
									li
										|分类:
										a(href="#") {{getCate(a.category)}}
									li 发表时间:{{getDate(a.createTime)}}
									li 
										a(href='#') {{a.pv}}个浏览
									li {{a.review}}条评论
						.section-inner
							h2 小样例
					.right-box
						.section-inner
							ul.info
								li(v-for='(i,index) in info')
									i(:class='i.icon')
									span(v-if='index===0') {{i.value}}
									a(:href='i.urls' v-if='index!==0',target='_blank') {{i.value}}
						.section-inner
							h2 分类
							ul.category
								li(v-for='c in cate')
									a(href='#') 
										|{{c.name}}
										span.badge {{c.articles.length}}
						.section-inner
							h2 推荐
							ul.recommend
								li(v-for='r in reco')
									a(:href = 'r.url',target='_blank')
										i(class='icon-link')
										|{{r.name}}
						.section-inner
							h2.ddr 
								a(href='#') DDRjs专栏
	script(src='/public/outputs/index.js')





