*{
	margin:0;
	padding: 0;
	font-family: 'Monaco','Lato', arial, sans-serif;;
	font-size: 16px;
}
a{
    color: #006699;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
}
.mt20{
    margin-top: 20px;
}
ul{
    list-style: none;
}

