.top{
	position: fixed;
	top: 0;
	width: 100%;
	background: #778492;
}
.top-sign{
	float: left;
	padding: 0 15px;
	line-height: 50px;
	color: #fff;
}
.top-nav{
	float: right;
	margin-right: 50px;
}
.top-nav>li{
	float: left;
}
.top-nav > li >a{
	line-height:50px;
	display: inline-block;
	padding: 0 15px;
	color: #74ff6c;
	font-weight: bold;
}
.top-nav > li > a:hover{
	color: #fff;
	background: #49ac43;
}
.wapper{
	padding: 60px 15%;
	background: #dae3e7;
}
.form-group{
	margin-top: 20px;
}
.form-group label{
	color: #555;
	display: block;
	margin-bottom: 5px;
	padding-left: 10px;
	border-left: 5px solid #49ac43;
	margin-left: 5px;
}
.form-group > input{
	width: 100%;
	display: block;
	height: 35px;
	text-indent: 10px;
	border-radius: 3px;
	border:1px solid #ddd;
}
.form-group .type{
	margin-top: 10px;
}
.form-group .type span{
	margin-right: 10px;
	font-size: 14px;
	color: #555;
	margin-left: 5px;
}
.editor{
	margin-top: 30px;
	display: flex;
}
.editor h2{
	margin-bottom: 10px;
	padding-left: 10px;
}
.editor .article-edit{
	flex:1;
}
.editor textarea{
	height: 470px;
	overflow: auto;
	width: 100%;
	resize: none;
	outline: none;
	display: inline-block;
	border:none;
	border-right: 1px solid #ddd;
	padding:10px;
	box-sizing: border-box;
}
.editor .article-show{
	display: inline-block;
	height: 450px;
	background: #fff;
	flex:1;
	padding:10px;
}
button{
	width: 100px;
	line-height: 30px;
	margin-top: 20px;
	margin-right: 20px;
	cursor: pointer;
}
.sumbit{
	background: #49ac43;
	color: #fff;
	border:1px solid #49ac43;
}
.sumbit:hover{
	background: #41963c; 
}
.cancel{
	background: #ccc;
	border:1px solid #ccc;
}
.cancel:hover{
	background: #bbb;
}