.content{
	margin: auto;
	margin-top: 30px;
	width: 1140px;
	overflow: auto;
	.main{
		width: 66%;
		float: left;
		box-sizing: border-box;
		padding: 25px;
		.article{
			margin-bottom: 20px;
			border-bottom: 1px solid #e7e7e7;
			a{
				font-size: 24px;
				&:hover{
					color: #000;
				}
			}
			.desc{
				margin-top: 30px;
				font-weight: 400;
				word-spacing: 1px;
				letter-spacing: 0.01em;
				word-break: break-all;
			}
			.meta{
				margin: 20px 0;
				span{
					font-size: 13px;
					margin-right:20px;
				}
			}
		}
	}
	.aside{
		padding-left: 20px;
		width: 34%;
		box-sizing: border-box;
		float:right;
		.inner{
			margin-top: 20px;
			.title{
				margin-bottom: 20px
			}
			.list{
				padding-left: 20px;
				li{
					margin-bottom: 10px;
					.cate-item{
						display: inline-block;
						width: 200px;
					}
				}
			}
		}
	}
}
@media screen and(max-width: 500px) {
	.content{
		width: 100%;
	}
}