html
	head
		title #{title}
		link(href='/public/css/common.css',rel='stylesheet')
		link(href='/public/css/font.css',rel='stylesheet')
		link(href='/public/css/admin/index.css',rel='stylesheet')
	body
		#container
			.top
				.top-sign HYG's Blog
				ul.top-nav
					li(v-for='t in topNav')
						a(:href="t.urls") {{t.name}}
						ul.child-nav
							li(v-for='n in t.child')
								a(:href="n.urls") {{n.name}}
			.section-wapper
				.section-inner#info
					h2 个人信息管理
					form
						.form-group
							label 头像
						.form-group(v-for='(i,index) in infos')
							label {{i.name}}
							input(type='text',:name='i.info',:placeholder='i.placeholder',v-model='i.value')
					div.btn-container
						button.btn-sumbit(@click='saveInfo()') 保存更改
				.section-inner#article
					h2 
						|文章管理
						button(@click='toNewArticle()') 添加新文章
					table.article-table.table
						thead
							tr
								th.text-left 标题
								th.text-center(style='width:120px') 发表时间
								th.text-center(style='width:70px') 状态
								th.text-center(style='width:70px') 阅读
								th.text-center(style='width:70px') 评论
								th.text-center(style='width:180px') 操作
						tbody
							tr(v-for='(a,index) in article')
								td.text-left
									a(:href='a.urls') {{a.title}}
								td.text-center {{a.pushTime}}
								td.text-center {{a.status}}
								td.text-center {{a.browse}}
								td.text-center {{a.review}}
								td.text-center(:data-index='index')
									i.icon-eye(title='查看')
									i.icon-pencil(title='编辑')
									i.icon-cog(title='切换状态')
									i.icon-bin(title='删除')
				.section-inner#demo
					h2 
						|样例管理
						button 添加新样例
					table.table.demo-table
						thead
							tr
								th.text-left 标题
								th.text-center(style='width:120px') 发表时间
								th.text-center(style='width:70px') 状态
								th.text-center(style='width:70px') 查看
								th.text-center(style='width:70px') 评论
								th.text-center(style='width:180px') 操作
						tbody
							tr(v-for='(d,index) in demo')
								td.text-left
									a(:href='d.urls') {{d.title}}
								td.text-center {{d.pushTime}}
								td.text-center {{d.status}}
								td.text-center {{d.browse}}
								td.text-center {{d.review}}
								td.text-center(:data-index='index')
									i.icon-eye(title='查看')
									i.icon-pencil(title='编辑')
									i.icon-cog(title='切换状态')
									i.icon-bin(title='删除')
				.section-inner#recommend
					h2
						|推荐管理
						button(@click='initReco') 添加推荐
					table
				.section-inner#category
					h2 
						|类别管理
						button(@click='initCate') 添加分类
					table.table
						thead
							tr
								th.text-left 名称
								th.text-center 新建时间
								th.text-center 文章数量
								th.text-center 操作
						tbody
							tr(v-for='(c,index) in categorys')
								td.text-left {{c.name}}
								td.text-center {{c.create}}
								td.text-center {{c.articles}}
								td.text-center(:data-index='index')
									i.icon-pencil(title='编辑')
									i.icon-bin(title='删除')
			modal(v-show='showModal',:config='config',@close-modal='closeModal')
				.modal-body(slot='modal-body',v-show='isReco')
					label 名称:
					input(placeholder='请输入连接名称',type='text',v-model = 'addRecoInfo.name')
					br
					br
					label 地址:
					input(placeholder='请输入连接地址',type='text',v-model = 'addRecoInfo.url')
					br
					br
					button(@click='sendData') 确认添加
					button(@click='closeModal') 取消
				.modal-body(slot='modal-body',v-show='isCate')
					label 名称:
					input(placeholder='请输入分类名称',type='text',v-model = 'addCateName')
					br
					br
					button(@click='sendData') 确认添加
					button(@click='closeModal') 取消

	script(src='/public/outputs/adminIndex.js')