html
	head
		title #{title}
		link(href='/public/css/common.css',rel='stylesheet')
		link(href='/public/css/font.css',rel='stylesheet')
		link(href='/public/css/admin/login.css',rel='stylesheet')
	body
		.container
			.login
				div
					.line
					.tran
					.circle
				form(action='/admin/login',method='post')
					div
						i.icon-user
						input(type='text',name='username',placeholder='请输入用户名')
					div
						i.icon-key
						input(type='password',name='password',placeholder='请输入密码')
					button(type='sumbit') 登录