//- 新建文章
html
	head
		title #{title}
		link(href='/public/css/common.css',rel='stylesheet')
		link(href='/public/css/font.css',rel='stylesheet')
		link(href='/public/css/admin/new-article.css',rel='stylesheet')
	body
		#container
			.top
				.top-sign HYG's Blog
				ul.top-nav
					li(v-for='t in topNav')
						a(:href="t.urls") {{t.name}}
			.wapper
				form.article-form
					.form-group
						label 文章标题
						input(type='text',v-model='article.title')
					.form-group
						label 文章描述
						input(type='text',v-model='article.description')
					.form-group
						label 文章类别
						input(type='text',v-model='article.newCate')
						div.type
							input(type='checkbox',name='type',value='类别1',v-model='article.category') 
							span 类别1
							input(type='checkbox',name='type',value='类别2',v-model='article.category')
							span 类别2
							input(type='checkbox',name='type',value='类别3',v-model='article.category') 
							span 类别3
				h2.mt20 文章内容
				div.editor
					.article-edit
						textarea(v-model='contentHtml')
					.article-show(v-html='markText')
				button.sumbit(@click='sumbit') 发表文章
				button.cancel 取消
	script(src='/public/outputs/newArticle.js')